{% extends "dashboard/base.html" %}

{% block title %}User Creation{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 85vh;">

    <div class="card shadow-lg p-4" style="width: 380px; border-radius: 12px;">
        
        <div class="text-center mb-4">
            <h2 class="fw-bold">CTI Aggregator</h2>
            <p class="text-muted">Follow the steps to join the platform.</p> <!-- SHOULD REWORK THE WORDING WITHIN THIS PAGE -->
        </div>

        
    </div>
</div>

<style>
    input {
        border-radius: 8px !important;
        padding: 10px !important;
    }
</style>
{% endblock %}