{% extends "dashboard/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 85vh;">

    <div class="card shadow-lg p-4" style="width: 380px; border-radius: 12px;">
        
        <div class="text-center mb-4">
            <h2 class="fw-bold">CTI Aggregator</h2>
            <p class="text-muted">Sign in to your workspace</p> <!-- SHOULD REWORK THE WORDING WITHIN THIS PAGE -->
        </div>

        <form id="user-login-form" method="POST" novalidate>
            {% csrf_token %}

            <!-- Django AuthenticationForm renders fields with labels -->
            <div class="mb-3"> 
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>

            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-primary w-100 py-2 mt-2">
                Login
            </button>
            
        </form>

        <div class="text-center mt-3"> <!-- this will eventually have a link to recoveryour password ideally -->
            <small class="text-muted">Forgot your password? Contact your admin.</small>
        </div>
        <br>
        <form id="form-create-account" method="POST" action="{% url 'create_user' %}" novalidate>
            {% csrf_token %}
            <div class="text-center account-creation">
            <label>Don't have an account?</label> <!-- This form will lead to a secondary html page where the user can fill in their info, which will be sent to the DB -->
            <button type="submit" class="btn btn-primary w-75 py-2 mt-2">
                Create Account
            </button>
            </div>
            
        </form>
    </div>
</div>

<style>
    input {
        border-radius: 8px !important;
        padding: 10px !important;
    }
</style>
{% endblock %}