{% extends "dashboard/base.html" %}

{% block title %}
Analytics
{% endblock %}


{% block content %}

<!-- ======================================================
     PAGE CONTAINER
====================================================== -->

<div class="container-fluid">

    <!-- ==================================================
         PAGE HEADER
    =================================================== -->

    <h2 class="fw-bold mb-4">
        Analytics
    </h2>


    <!-- ==================================================
         SUMMARY STAT CARDS
    =================================================== -->

    <div class="row g-4 mb-4">

        <!-- Total indicators -->
        <div class="col-md-3">
            <div class="card shadow-sm p-3">
                <h6 class="card-title">
                    Total Indicators
                </h6>
                <h2 class="display-6">
                    {{ total_indicators }}
                </h2>
            </div>
        </div>

        <!-- High confidence -->
        <div class="col-md-3">
            <div class="card shadow-sm p-3">
                <h6 class="card-title">
                    High Confidence
                </h6>
                <h2 class="display-6">
                    {{ high_confidence }}
                </h2>
            </div>
        </div>

        <!-- New this week -->
        <div class="col-md-3">
            <div class="card shadow-sm p-3">
                <h6 class="card-title">
                    Last Seen This Week
                </h6>
                <h2 class="display-6">
                    {{ last_seen_this_week }}
                </h2>
            </div>
        </div>

        <!-- Active feeds *MAY REMOVE* -->
        <!--
        <div class="col-md-3">
            <div class="card shadow-sm p-3">
                <h6 class="text-muted">
                    Active Feeds
                </h6>
                <h2 class="fw-bold">
                    {{ active_feeds }}
                </h2>
            </div>
        </div>
        -->

    </div>

    <!-- ==================================================
     Div to contain the two tables so that if theyre on a 
     big screen, they appear side by side
    =================================================== -->
    <div class="row">
        <!-- ==================================================
         ANALYTICS TABLE: TOP SOURCES
    =================================================== -->

        <div class="col-xl-6">
            <div class="card shadow-sm p-4 mb-4">

                <h5 class="fw-bold card-title mb-3">
                    Top Sources by Indicator Volume
                    <button class="btn btn-sm btn-icon rounded-circle float-end custom-collapse-btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#topSourcesTable">
                        <i class="fa fa-chevron-up"></i>
                    </button>
                </h5>
                <div id="topSourcesTable" class="collapse show">
                    <table class="table table-hover table-custom">

                        <thead>
                            <tr>
                                <th>Feed Name</th>
                                <th>URL</th>
                                <th>Indicator Count</th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for source in top_sources %}

                            <tr>
                                <td>{{ source.sources }}</td>

                                <td>
                                    <a href="#" target="_blank">
                                        Feed URLs
                                    </a>
                                </td>

                                <td>
                                    {{ source.count }}
                                </td>
                            </tr>

                            {% empty %}

                            <tr>
                                <td colspan="3" class="text-center text-muted">
                                    No feed data available.
                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <!-- ==================================================
         ANALYTICS TABLE: TOP IOC TYPES
    =================================================== -->

        <div class="col-xl-6">
            <div class="card shadow-sm p-4 mb-4">

                <h5 class="fw-bold card-title mb-3">
                    Top IOC Types by Count
                    <button class="btn btn-sm btn-icon rounded-circle float-end custom-collapse-btn" type="button"
                        data-bs-toggle="collapse" data-bs-target="#topTypesTable">
                        <i class="fa fa-chevron-up"></i>
                    </button>
                </h5>
                <div id="topTypesTable" class="collapse show">
                    <table class="table table-hover table-custom">

                        <thead>
                            <tr>
                                <th>IOC Type</th>
                                <th>Amount</th>
                            </tr>
                        </thead>

                        <tbody>

                            {% for source in top_ioc_types %}

                            <tr>
                                <td>{{ source.ioc_type }}</td>

                                <td>
                                    {{ source.count }}
                                </td>
                            </tr>

                            {% empty %}

                            <tr>
                                <td colspan="3" class="text-center text-muted">
                                    No feed data available.
                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>


    <!-- ==================================================
         FUTURE CHART PLACEHOLDERS
         (Ready for Chart.js)
    =================================================== -->



</div>

{% endblock %}