{% extends "dashboard/base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h1 class="mb-4">Dashboard Overview</h1>

<div class="row g-4">

    <div class="col-md-4">
        <div class="card shadow-sm p-3">
            <h5>Total Indicators</h5>
            <p class="display-6">{{ total_indicators }}</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow-sm p-3">
            <h5>Active Threat Feeds</h5>
            <p class="display-6">{{ feed_count }}</p>
            {% if feed_count == 0 %}
            <small class="text-muted">No feeds configured yet</small>
            {% endif %}
        </div>
    </div>


    <div class="col-md-4">
        <div class="card shadow-sm p-3">
            <h5>New in Last 24h</h5>
            <p class="display-6">{{ new_last_24h }}</p>
        </div>
    </div>

</div>

<div class="row mt-5">
    <div class="col-md-12">
        <div class="card shadow-sm p-4">

            <h4 class="mb-3">Recent Indicators</h4>

            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>STIX ID</th>
                        <th>Type</th>
                        <th>Spec Version</th>
                        <th>Created</th>
                        <th>Modified</th>
                        <th>Source</th>
                        <th>Collection ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for indicator in recent_indicators %}
                    <tr>
                        <td>{{ indicator.stix_id }}</td>
                        <td>{{ indicator.stix_type }}</td>
                        <td>{{ indicator.spec_version }}</td>
                        <td>{{ indicator.created }}</td>
                        <td>{{ indicator.modified }}</td>
                        <td>{{ indicator.source_name }}</td>
                        <td>{{ indicator.collection_id }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center text-muted">No indicators yet.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
    </div>
</div>

{% endblock %}
